.rc-slider * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-slider {
    position: relative;
    height: 80px;
    width: 100%;
    border-radius: 0;
    background-color: lightgray;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-slider-track {
    position: absolute;
    left: 0;
    height: 80px;
    border-radius: 0;
    background-color: darkgray;
    z-index: 1;
}

