html * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    tap-highlight-color: rgba(0,0,0,0);
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
html {
    font-family: 'Lato', Helvetica, sans-serif;
    font-weight: 300;
    padding: 0 5px 5px 5px;
}

a {
    color: white;
    text-decoration: none;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #444;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #444;
    opacity:  1;
}
:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
    color:    #444;
}


.share {
    height: 50px;
}

@media (max-width: 510px) {
    .share {
        height: 40px;
    }
}

.share li {
    display: inline-block;
    margin-left: 5px;
    padding: 0;
    list-style: none;
    color: white;
    background-color: #444;
    background-repeat: no-repeat;
    background-position: center center;
    height: 50px;
    width: 80px;
    -webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -ms-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
}
@media (max-width: 510px) {
    .share li {
        width: 50px;
        height: 40px;
    }
}
.share li:hover .count {
    display: block;
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate(0, -10px);
    -moz-transform: translate(0, -10px);
    -ms-transform: translate(0, -10px);
    -o-transform: translate(0, -10px);
    transform: translate(0, -10px);
}
@media (max-width: 510px) {
    .share li:hover .count {
        display: none;
    }
}
.share a {
    position: relative;
    display: block;
    margin: 0;
    padding: 20px 5px;
    z-index: 2;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.count {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 15px;
    left: 0;
    margin-left: -90px;
    width: 80px;
    text-align: center;
    z-index: 1;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
.count p {
    color: black;
    font-size: 12px;
}

.facebook {
    background: url('../../Assets/images/facebook.png') center center no-repeat;
    background-size: 28%;
}
.facebook:hover {
    background-color: #3664A2;
}

.twitter {
    background: url('../../Assets/images/twitter.png') center center no-repeat;
    background-size: 28%;
}
.twitter:hover {
    background-color: #44C8F5;
}

.appStoreButton {
    position: relative;
    background: #444;
    color: white;
    width: 1000px;
    max-width: 199px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.appStoreButton.open {
    height: 176px !important;
}

.appStoreButton.open ul {
    display: block
} 

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.appStoreButton ul {
    display: none;
    
}
.appStoreButton li {
    text-align: left;
    font-size: 16px;
    border-bottom: 1px solid rgba(255,255,255, 0.2);
}
.appStoreButton li a {
    padding: 13px 0;
    display: block;
}

.appStoreButton li:hover span {
    /*text-decoration: underline;*/
        border-bottom: 1px solid white;
    padding-bottom: 1px;
}

.get-the-app-text {
    display: block;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.get-the-app-text span:first-child {
    display: inline-block;
    padding: 10px 0;
}

.chevron {
    position: absolute;
    transform-origin: 10px 10px;
}

.chevron-up {
    display: inline-block;
    margin-left: 52px;
    font-size: 24px;
    margin-top: 9px;
}

.chevron-right {
    transform: rotate(90deg);
    right: -20px;
    margin-top: 10px;
    font-size: 38px;
}

.appStoreButton.open .chevron-up {
    transform: rotate(180deg);
}

.appStoreLinks ul {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: 0 20px;
}
.appStoreLinks a {
    position: relative;
    display: block;
    color: #444;
    font-size: 38px;
    padding: 10px 0;
    border-bottom: 1px solid rgba(140,140,140,0.1);
}

.appStoreLinks li:hover a {
    color: rgba(68,68,68, 0.6);
}

.appStoreLinks ul li:last-of-type a {
    border-bottom: none;
} 

@media (min-width: 512px) {
    .appStoreButton {
        max-width: 225px;
    }
    .appStoreButton.open {
        height: 238px !important;
    }
    .get-the-app-text {
        font-size: 18px;
    }
    .get-the-app-text span:first-child {
        padding: 14px 0;
    }
    .chevron-up {
        margin-top: 13px;
    }
    .appStoreButton li {
        font-size: 18px;
    }
    .appStoreButton li a {
        padding: 20px 0;
    }
}

.madeByFemur:hover {
    border-bottom: 1px solid;
}